/* font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

/* Header File Start */

header{
    background-color: #fff;
    padding: 30px 0;
}

.header_wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 20%;
}

.logo img{

}

.button{
    width: 50%;
    justify-content: end;
}

.button ul{
    list-style: none;
    display: flex;
    justify-content: end;
}

.button ul li{
    
}

.button ul li a{
    color: #97999b;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
}

/* Header File End */

/* Banner Section Start */

.banner{
    position: relative;
}

.banner img{
    width: 100%;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.content h1{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.content p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    margin: 30px 0;
}

.content button{
    background-color: #fb6e52;
    padding: 15px 30px;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
}

.content button i{
    
}

/* Banner Section End */

/* Service Section Start */

.services{
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.service{
    
    display: flex;
    justify-content: space-between;
}

.service_item{
    width: 31%;
    text-align: center;
}

.service_item img{
    
}

.service_item h1{
    text-transform: capitalize;
    margin: 10px 0;
} 

.service_item p{
    
}

.service_heading{
    width: 50%;
    text-align: center;
    margin:100px auto;
    color: #ee8777;
    font-size: 25px;
    font-style: italic;
}
.service_heading h1{

}

.photo_section{
    display: flex;  
    justify-content: space-between; 
    text-align: center;
    margin: 30px 0;
}

.photo_item{
   width: 31%;
}

.photo_item img{
    width: 100%;
}

.photo_item h1{
    margin: 10px 0;
}

.photo_item h2{

}
/* Service Section End */

/* Blog Section Start */

.blog{
    width: 100%;
    margin: auto;
    padding: 50px 0;
    background-color: #f9f9f9;
    
}

.blog_header{
    margin: 50px 0;  
}
.blog_header h1{
    text-align: center;
    
}

.blog_photo{
    width: 80%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: auto;    
    
}
.photo_one{
    width: 48%;
}
.photo_one img{
    width: 100%;
}
.photo_one h2{
    color: #db8877;
    text-align: justify;
    font-size: 20px;
    margin: 10px 0;
}
.photo_one p{
    color: #aaa7a7;
    font-size: 16px;
}
/* Blog Section End */

/* Footer Section Start */
footer{
    width: 100%;
    background-color: #292c34;
    padding: 30px 0;
}

.footer_wrapper{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rights{
    width: 30%;
}
.text{
    display: flex;
}
.text h1{
   
}
.icon{
    width: 50%;
   
}
.icon ul{
    list-style: none;
    display: flex;
    justify-content: end;
}

.icon ul li{

}

.icon ul li a{
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
    font-size: 25px;
}
/* Footer Section End */